.btn {
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 6px 9px;

  &:disabled {
    opacity: .6;
  }
  &.disabled {
  }
  &.default {
    background: var(--blue);
    color: #fff;
  }
  &.outline {
    border: 1px solid var(--border);
    color: var(--text-color);
    background: transparent;
  }
  &.max {
    width: 100%;
  }
}
