@import './theme/normal.scss';
@import './theme/dark.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button,
input {
  border: none;
  outline: none;
}

input::placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

body {
  background: var(--main-color);
  color: var(--inverted-main-color);
  transition: all 0.2s;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
