
.navbar {
    border-bottom: 1px solid var(--border);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
}

.dark {
    filter: invert(100%);
}